.container {
  padding: 13px 0;

  button:first-of-type:target ~ .main_content article {
    -webkit-transform: translateY( -300px );
    transform: translateY( -300px );
  }
}

.picture {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.details {
  display: inline-block;
  padding: 0 0 0 14px;
  vertical-align: top;
}

.fullName {
  font-size: 24px;
  font-weight: 400;
}

.updateButton {
  margin-top: 20px;
}

.help-block {
  background-color: #fff;
}
