$color-text: #fff;
$border-color: #b3d3b3;
$text-size: 15px;
$background-color-content-block: rgba(#333, 0.9);
$borders-color-content-block: rgba(#f8f8f8, 0.0);

.hero {
  height: 850px;
  min-height: 350px;
  // position: relative; // fix for safari browser: false height of a block
  color: white;
  transition: height .75s;
}

@media screen and (min-height: 720px) {
  .hero {
    height: 850px;
  }
}

@media screen and (max-height: 720px) {
  .hero {
    height: 650px;
  }
}

@media screen and (max-height: 600px) {
  .hero {
    height: 500px;
  }
}

@media screen and (max-height: 480px) {
  .hero {
    height: 350px;
  }
}

.move-up {
  margin-top: -20px;
}

/*#landing-page {
  .container {
    display: none;
  }
}*/

.content {
  height: auto;
  top: 50px;
  position: relative;
  padding-bottom: 20px;
  padding-left: 36px;
  padding-right: 40px;
  width: 45%;
  min-width: 40%;
  min-height: 30%;
  left: 3%;
  background-color: $background-color-content-block;
  // height: 65%;
  max-height: 80%;
  overflow-y: scroll;
  border-top: 15px solid $borders-color-content-block;
  border-bottom: 15px solid $borders-color-content-block;

  p:first-of-type {
    margin-top: 18px;
  }

  a {
    color: $border-color;
  }

  p, ul li, h5 {
    text-align: left;
    color: $color-text;
    font-size: $text-size;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    text-align: left;
    color: $color-text;
    font-family: "Michroma";
    font-size: 16px;
    text-transform: none;
    font-weight: bold;
    border-bottom: 5px solid $border-color;
    padding-bottom: 3px;
    display: inline;
    margin-top: 0px;
    line-height: 2.1em;
    margin-bottom: 12px;
  }

  // h1:before-after-background("18px", "18px", '/images/cross.png');

  &:before {
    height: 18px;
    width: 18px;
    position: relative;
    z-index: 1;
    background-image: url('/images/cross.png');
    left: -26px;
    content: '';
    display: block;
    top: 26px;
  }
}

@media screen and (max-width: 1280px) {
  .content {
    width: 53%;
    transition: 0.75s;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 60%;
    min-width: 250px;
    left: 5%;
    transition: 0.75s;
  }
}

@media screen and (max-width: 960px) {
  .content {
    min-width: 250px;
    left: 4%;
    transition: 0.75s;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;

  img {
    width: 100%;
    height: auto;
  }
}

// set huge bg picture to cover the whole bg area
.hero > div.background:first-of-type {
  background-size: cover;
}

.hero-small {
  height: 400px;

  .content {
    height: 350px;
  }
}
