$color-text: #fff;
$border-color: #b3d3b3;
$text-size: 15px;
$background-color-content-block: rgba(#333, 0.9);
$borders-color-content-block: rgba(#f8f8f8, 0.0);
$eurostile: "EurostileLTW01-BoldEx2";

.hero {
  height: 800px;
  min-height: 350px;
  max-height: 850px;
  // position: relative; // fix for safari browser: false height of a block
  color: white;
  // transition: height .75s;
}

@media screen and (max-height: 720px) {
  .hero {
    max-height: 650px;
  }
}

@media screen and (max-height: 600px) {
  .hero {
    max-height: 640px;
  }
}

@media screen and (max-height: 480px) {
  .hero {
    max-height: 470px;
  }
}

.move-up {
  margin-top: -20px;
}

/*#landing-page {
  .container {
    display: none;
  }
}*/

.content {
  height: auto;
  top: 17%;
  position: relative;
  padding-bottom: 30px;
  padding-left: 56px;
  padding-right: 56px;
  width: 45%;
  min-width: 335px;
  left: 3%;
  background-color: $background-color-content-block;
  // height: 65%;
  max-height: 80%;
  overflow-y: scroll;
  border-top: 15px solid $borders-color-content-block;
  border-bottom: 15px solid $borders-color-content-block;

  p:first-of-type {
    margin-top: 18px;
  }

  a {
    color: $border-color;
  }

  p, ul li, h5 {
    text-align: left;
    color: $color-text;
    font-size: $text-size;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    text-align: left;
    color: $color-text;
    font-family: $eurostile;
    font-size: 18px;
    text-transform: none;
    font-weight: bold;
    border-bottom: 5px solid $border-color;
    padding-bottom: 3px;
    display: inline;
    margin-top: 0px;
    line-height: 2.1em;
    margin-bottom: 12px;
  }

  // h1:before-after-background("18px", "18px", '/images/cross.png');

  &:before {
    height: 18px;
    width: 18px;
    position: relative;
    z-index: 1;
    background-image: url('/images/cross.png');
    left: -26px;
    content: '';
    display: block;
    top: 26px;
  }
}

body #patienten-page .content {
  left: 13%;
}

@media screen and (max-width: 1280px) {
  .content {
    width: 53%;
    transition: 0.75s;
  }
}

@media screen and (max-width: 960px) {
  .content {
    min-width: 250px;
    left: 4%;
    transition: 0.75s;
    width: 68%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 60%;
    min-width: 250px;
    left: 5%;
    transition: 0.75s;
  }
}

@media screen and (max-width: 680px) {
  .content {
    left: 10%;
    width: 80%;
    top: 15%;
  }
}

@media screen and (max-width: 450px) {
  .content {
    border-top: 2px solid $borders-color-content-block;
    top: 10%;
    max-height: 47%;
    transition: 0.75s;
  }
}

@media screen and (max-width: 440px) {
  .content {
    padding-left: 36px;
    padding-right: 36px;
    overflow-x: hidden;

    h1 {
      font-size: 15px;
      word-break: break-word;
    }
  }
}

@media screen and (max-height: 1020px) {
  .content {
    top: 10%;
    max-height: 70%;
    transition: 0.75s;
  }
}

@media screen and (max-height: 825px) {
  .content {
    top: 9%;
    max-height: 70%;
    transition: 0.75s;
  }
}

@media screen and (max-height: 745px) {
  .content {
    top: 7%;
    max-height: 67%;
    transition: 0.75s;
  }
}

@media screen and (max-height: 675px) {
  .content {
    top: 5%;
    max-height: 60%;
    transition: 0.75s;
  }
}

@media handheld, (max-height: 625px), (orientation: landscape) {
  .content {
    top: 5%;
    max-height: 50%;
    transition: 0.75s;
  }
}

@media handheld, (max-height: 625px), (orientation: portrait) {
  .content {
    top: 10%;
    max-height: 48%;
  }
}

@media screen and (max-height: 350px) {
  .content {
    max-height: 35%;
    transition: 0.75s;
  }
}

@media screen and (max-width: 340px) and (max-height: 500px) {
  .content {
    left: 6%;
    width: 80%;
    top: 14%;
  }
}

@media screen and (max-height: 450px) {
  .content {
    top: 6%;
    max-height: 43%;
    transition: 0.75s;
  }
}

.background_with_animation,
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;

  img {
    width: 100%;
    height: auto;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.65;
  }
  66% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

// animations of BG: first only for the start page
.background_with_animation:first-of-type {
  -webkit-transition: opacity 1000ms ease-in;
  -moz-transition: opacity 1000ms ease-in;
  -o-transition: opacity 1000ms ease-in;
  -ms-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in;
  // transition: 1s;
  -webkit-animation:  pulse 8s ease-in-out infinite;
  -moz-animation:     pulse 8s ease-in-out infinite;
  -ms-animation:      pulse 8s ease-in-out infinite;
  animation:          pulse 8s ease-in-out infinite;
  background-blend-mode: overlay;
}

// set huge bg picture to cover the whole bg area
// transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
.hero > div.background:first-of-type,
.hero > div.background_with_animation:first-of-type {
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 50%;
}

@media screen and (max-width: 1075px) {
  .hero > div.background:first-of-type,
  .hero > div.background_with_animation:first-of-type {
    background-position-x: 65%;
    transition: 0.75s;
  }
}

.hero-small {
  height: 400px;

  .content {
    height: 350px;
  }
}
