$color-text: #000;
$border-color: #b3d3b3;

.hero {
  height: 850px;
  position: relative;
  background: black;
  color: black;
  transition: height .3s;
}

.move-up {
  margin-top: -20px;
}

/*#landing-page {
  .container {
    display: none;
  }
}*/

.content {
  height: auto;
  top: 50px;
  position: relative;
  padding-bottom: 20px;
  padding-left: 36px;
  padding-right: 25px;
  width: 40%;
  left: 23%;
  background-color: rgba(#f8f8f8, 0.7);

  p {
    text-align: left;
  }

  h1 {
    text-align: left;
    color: $color-text;
    font-family: "Michroma";
    font-size: 16px;
    text-transform: none;
    font-weight: bold;
    border-bottom: 5px solid $border-color;
    padding-bottom: 13px;
    display: table;
    margin-top: 0px;
  }

  //h1:before-after-background("18px", "18px", '/images/cross.png');

  &:before {
    height: 18px;
    width: 18px;
    position: relative;
    z-index: 1;
    background-image: url('/images/cross.png');
    left: -26px;
    content: '';
    display: block;
    top: 18px;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.hero-small {
  height: 400px;

  .content {
    height: 350px;
  }
}
