@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fonts;
}

a {
  cursor: pointer;
}

.navbar-collapse {
  background-color: rgba(#e7e7e7, 0);
}

.navbar-default {
  // background-color: rgba(#f8f8f8, 0.3);
  background-color: rgba(#f4f9f4, 0.4);
  border-color: rgba(#e7e7e7, 0.0);

  .navbar-brand {
    color: rgba(#777, 0.0);

    span {
      display: none;
    }
  }
  .navbar-brand:hover {
    color: rgba(#777, 0.0);
  }

  span {
    font-family: $eurostile_font;
  }
}

@media screen and (max-width: 912px) {
  .navbar-brand>img {
    position: absolute;
    width: 180px;
  }

  .navbar-nav {
    margin-left: 100px;
  }

  .navbar-default {
    span {
      letter-spacing: -0.4px;
    }
  }
}

@media screen and (max-width: 780px) {

  .navbar-brand>img {
    width: 120px;
    transition: 3s;
  }

  .navbar-nav {
    margin-left: 88px;
  }

}
