@import 'base';

$links_color: #68a868;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fonts;
  position: fixed;
}

@include scrollbars(.75em, slategray, rgba(#e7e7e7, 0));

a {
  cursor: pointer;
  color: $links_color;

  &:hover {
    color: $links_color;
  }
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  background-color: rgba(#e7e7e7, 0);
  margin-top: 38px;
  position: relative;
}

.navbar-default {
  // background-color: rgba(#f8f8f8, 0.3);
  background-color: rgba(#f4f9f4, 0.4);
  border-color: rgba(#e7e7e7, 0.0);
  height: 150px;

  .navbar-brand {
    img {
      margin-left: 15px;
    }
    color: rgba(#777, 0.0);
    span {
      display: none;
    }
  }
  .navbar-brand:hover {
    color: rgba(#777, 0.0);
  }

  span {
    font-family: $eurostile_font;
  }

  ul {
    padding-top: 3px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
  padding-top: 0px;

  li {
    padding-bottom: 5px;
  }
}

ul.team-list {
  padding-top: 0px;
}

div.team-photos {
  margin-left: 1px;
  img {
    float:left;
    margin-top:8px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1060px) {
  .navbar-nav {
    width: 100%;
    position: absolute;
    top: 0px;
    margin-left: 17%;
  }
  .navbar {
    //margin-bottom: 0px;
    padding-bottom: 20px;
  }
  .nav>li>a {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 960px) {
  .navbar-brand>img {
    position: absolute;
    width: 120px;
    top: 25px;
  }
  .navbar-nav {
    margin-left: 14%;
  }
}

@media screen and (max-width: 930px) {
  .navbar-nav {
    position: relative;
  }

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
      overflow-x: hidden;
  }
}

@media screen and (max-width: 920px) {
  .navbar-brand>img {
    position: absolute;
    width: 130px;
    transition: 0.55s;
  }
}

@media screen and (max-width: 912px) {

  .navbar-nav {
    margin-left: 10%;
  }

  .navbar-default {
    span {
      letter-spacing: -0.4px;
    }
  }
}

@media screen and (max-width: 780px) {

  .navbar-brand>img {
    width: 120px;
    transition: 0.55s;
  }

  .navbar-nav {
    margin-left: 88px;
  }

}
