@import 'base';

$links_color: #68a868;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fonts;
  position: fixed;
}

#root {
  // max-width: 1920px;
}

.text-left {
  word-break: break-word;
}

.navbar-header {
  height: 150px;
  position: relative;
  z-index: 100;
}

.navbar-nav {
  margin-left: 7%;
}

.navbar-default .navbar-nav>li>a {
  font-family: $eurostile_ext;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  outline: none;
}

.page-container .navbar-default .navbar-nav li a:hover,
.page-container .navbar-default .navbar-nav li a:hover span,
.page-container .navbar-default .navbar-nav>li.active>a span,
.page-container .navbar-default .navbar-nav>li.active>a:focus span,
.page-container .navbar-default .navbar-nav>li.active>a:hover span,
.page-container .navbar-default .navbar-nav li ul li.active a span,
.page-container .navbar-default ul.navbar-nav li.active a.dropdown-toggle {
  color: $links_color;
  font-weight: bold;
  background-color: transparent;
}

.page-container .navbar-default .navbar-nav>li.active>a {
  background-color: transparent;
}

.navbar-default .navbar-nav li a::after,
.page-container .navbar-default .navbar-nav li ul li a::after {
  content: '';
  border: 3px rgba(104, 168, 104, 0.2) solid;
  border-right: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 25px;
  top: 50%;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

/* .page-container .navbar-default .navbar-nav li ul li a::after {
  border: 0;
} */

.navbar-default .navbar-nav li a:hover::after,
.page-container .navbar-default .navbar-nav li ul li a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

#landing-page {
  h1 {
    font-family: "EurostileLTW01-BoldEx2";
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.0em;
    margin-bottom: 5px;
    white-space: nowrap;
    word-break: unset;
    word-wrap: unset;

    span {
      background-color: #333;
      padding: 12px 6px 8px 6px;
      line-height: 1.9em;
      white-space: pre-wrap;
      /*word-wrap: normal;
      word-break: keep-all;*/
    }

    small {
      width: 0px;
      display: inline-block;
    }
  }

  h2 {
    font-family: "EurostileLTW01-Ex2";
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 1.4em;
    margin: 1px 0px 0px 11%;

    span:first-of-type {
      background-color: #c7dec6;
      padding: 12px 20px 8px;
      line-height: 2em;
      white-space: pre-wrap;
      text-indent: -20px;
    }
  }

  @media screen and (max-width: 1050px) {
    h1 {
      margin-bottom: 0px;
    }
    h2 {
    margin-top: 0px;
    // font-size: 1.0em;
    span:first-of-type {
      text-indent: 0px;
      display: block;
    }
  }
  }

  @media screen and (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
        background-color: transparent;
    }
  }

  @media screen and (max-width: 780px) {
    h1 {
      font-size: 1.9em;
      // margin-bottom: 6px;
    }
    h2 {
      font-size: 1.2em;
      // margin-top: 4px;
    }
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 1.8em;
    }
  }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 1.7em;
      // margin-bottom: 8px;
    }
    h2 {
      font-size: 1.1em;
      // margin-top: 11px;
      // display: none;
    }
  }

  @media screen and (max-width: 380px) {
    h1 {
      font-size: 1.2em;
    }
    h2 {
      font-size: 1.0em;
    }
  }
}

@media screen and (max-width: 400px) {
  .col-xs-12 {
    word-break: break-word;
  }
}

@include scrollbars(.75em, slategray, rgba(#e7e7e7, 0));

a {
  cursor: pointer;
  color: $links_color;

  &:hover {
    color: $links_color;
  }
}

.page-container {
  min-height: 425px;
}

#anfahrt-page .container {
  height: 60%;
  top: 20%;
  width: 60%;

  @media screen and (max-height: 925px) {
    top: 20%;
    height: 50%;
  }

  @media screen and (max-height: 625px) {
    top: 25%;
    height: 50%;
  }

  @media screen and (max-width: 768px) {
    top: 29%;
    width: 88%;
  }

  @media screen and (max-width: 440px) {
    top: 25%;
    width: 90%;
  }

  @media screen and (max-height: 525px) {
    top: 30%;
    height: 48%;
  }

  @media screen and (max-height: 445px) {
    top: 33%;
    height: 46%;
  }

  @media screen and (max-height: 400px) {
    top: 46%;
    height: 41%;
  }

  @media screen and (max-height: 350px) {
    top: 52%;
    height: 35%;
  }
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  background-color: rgba(#e7e7e7, 0);
  margin-top: 38px;
  position: relative;
}

.navbar-default {
  // background-color: rgba(#f8f8f8, 0.3);
  background-color: rgba(#f4f9f4, 0.4);
  border-color: rgba(#e7e7e7, 0.0);
  height: 150px;

  .navbar-brand {
    img {
      margin-left: 35px;
      transition: 2.55s;
      width: 120px;
      top: 30px;
      margin-top: 10px;
    }
    color: rgba(#777, 0.0);
    span {
      display: none;
    }
  }
  .navbar-brand:hover {
    color: rgba(#777, 0.0);
  }

  span,
  a.dropdown-toggle {
    font-size: 1.5rem;
    font-family: $eurostile_ext;
    color: #777;
  }

  a.dropdown-toggle {
    color: rgba(#777, 1.0);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  ul {
    padding-top: 0px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
  padding-top: 0px;

  li {
    padding-bottom: 0px;
  }
}

ul.team-list {
  padding-top: 0px;
}

div.team-photos {
  margin-left: 1px;
  img {
    float:left;
    margin-top:8px;
    margin-left: 5px;
  }
}

.navbar-toggle {
  margin-top: 33px;
  margin-right: 41px;
  position:relative;
  background-color: $white;
}

@media screen and (max-width: 1110px) {
  .navbar-nav {
    width: auto;
    position: absolute;
    top: 0px;
    margin-left: 18%;
  }
  .navbar {
    //margin-bottom: 0px;
    padding-bottom: 20px;
  }
  .nav>li>a {
    padding: 15px 7px;
  }
  .navbar-brand
  {
    img {
      width: 140px;
      top: 30px;
      transition: 0.55s;
      margin-top: 10px;
    }
  }

  .navbar-default .navbar-nav li a:hover::after,
  .page-container .navbar-default .navbar-nav li ul li a:hover::after {
    opacity: 1;
    -webkit-transform: translateX(-63%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-63%) translateY(-50%) scale(0.8);
    transform: translateX(-63%) translateY(-50%) scale(0.8);
  }
}

@media screen and (min-width: 1110px) {
  .page-container .navbar-nav>li>.dropdown-menu>li>a:first-of-type {
    padding-left: 13px;
  }
}

.mobile_gallery {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar-default .navbar-brand
  {
    img {
      position: absolute;
      width: 110px;
      top: 20px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar-nav {
    margin-left: 18%;
  }
  #about-page .text-team,
  #about-page .team-list {
    display: none;
  }
  .mobile_gallery {
    display: block;
  }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(#f4f9f4, 0.4);
    @include border-radius(8px 8px 0 0);
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    @include border-radius(0 0 8px 8px);
    border: 0;
    box-shadow: none;
}

.navbar-nav>li>.dropdown-menu>li>a {
  background-color: rgba(#f4f9f4, 0.4);
}

@media screen and (min-width: 931px) {

  ul li.nav-dropdown {
    padding-bottom: 0px;
  }

  .open>.dropdown-menu {
    display: block;
    width: 438px;
    padding-bottom: 0px;
  }

  ul.dropdown-menu li {
    float: left;
    position: relative;
  }

  .dropdown-menu>li>a {
    padding: 9px 20px 9px;
  }

  .navbar-nav>li>.dropdown-menu>li>a:first-of-type {
    padding-left: 6px;
  }

  .navbar-nav>li>.dropdown-menu>li:hover a,
  .navbar-nav>li>.dropdown-menu>li:hover span,
  .navbar-nav>li>.dropdown-menu>li:hover a:hover {
    background-color: rgba(#f4f9f4, 0.4);
  }

  .dropdown-menu>li:first-of-type {
    margin-left: 2px;
  }
}

@media screen and (max-width: 930px) {
  .navbar-nav {
    position: relative;
  }

  .navbar-default {
    ul {
      padding-top: 20px;
    }
  }

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      background-color: #fff;
      margin-top: 0px;
      z-index: 10000;
      overflow-x: hidden;
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
      overflow-x: hidden;
  }
}

@media screen and (max-height: 525px) {
  .navbar-collapse {
    top: 0;
    height: 100%;
    position: fixed;
    width: 86%;
  }

  #landing-page {
    h1 {
      font-size: 1.2em;
    }

    h2 {
      display: none;
    }
  }
}

@media screen and (max-height: 445px) {
  ul.team-list {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .navbar-brand
  {
    img {
      position: absolute;
      width: 110px;
      transition: 0.55s;
      top: 30px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 912px) {

  .navbar-nav {
    margin-left: 13%;
  }

  .navbar-default {
    span {
      letter-spacing: -0.4px;
    }
  }
}

@media screen and (max-width: 780px) {

  .navbar-brand {
    img {
      width: 110px;
      transition: 0.55s;
      top: 30px;
      margin-top: 10px;
    }
  }

  .navbar-nav {
    margin-left: 88px;
  }
}

@media screen and (max-width: 450px) {
  .navbar-default {
    height: 105px;

    .navbar-brand {
      img {
        width: 105px;
        top: 15px;
        left: 9%;
        transition: .55s;
      }
    }
    .navbar-nav {
      margin-left: 18px;
    }
  }
  .navbar-header {
    height: 105px;
  }

  ul.team-list {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .navbar-default {
    .navbar-nav {
      margin-left: 12px;
    }
  }
  .navbar-collapse {
    width: 80%;
  }
  .navbar-nav .open .dropdown-menu {
    padding-top: 10px;
    li {
      padding-bottom: 3px;
      a {
        padding: 5px 15px 5px 12px;
        span {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-height: 450px) and (min-width: 320px) {
  .navbar-default {
    height: 125px;

    .navbar-brand {
      img {
        width: 105px;
        top: 26px;
        left: 9%;
        transition: .55s;
      }
    }

    .navbar-nav {
      margin-left: 38px;
    }
  }
  .navbar-header {
    height: 125px;
  }
}

@media screen and (min-width: 930px) and (max-height: 450px) {
  .navbar-default .navbar-nav {
      margin-left: 138px;
  }
}


/* Fade out, then fade in transition */

.fade-wait-leave,
.fade-wait-delay-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active,
.fade-wait-delay-leave.fade-wait-delay-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.fade-wait-enter,
.fade-wait-delay-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active,
.fade-wait-delay-enter.fade-wait-delay-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in-out .4s;
}

/* .fade-wait-height {
  transition: height .8s ease-in-out;
}
.fade-wait-delay-height {
  // Delay the height animation until the leave completes
  transition: height .4s ease-in-out .4s;
} */
