@import "../../styles/base";

.footer {
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: -2px;

  nav {
    background-color: $color-footer;
  }

  ul {
    padding: 0;
    margin: 0;
    text-align: right;
  }

  // TODO: align footer line to the footer block (span between them grows below 1060px of screen width)

  .footer-line {
    height: 25px;
    width: 100%;
    top: -13px;
    position: absolute;
    background-image: url('../../static/images/footer_line_bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }
}

.item {
  display: inline-block;
  margin: 1.3rem;
  margin-bottom: 3px;

  a {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: $footer-links-color;
    text-transform: uppercase;
    font-family: $eurostile;
  }
}
.social {
  padding: 25px;
  a {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 30px 10px 55px;
    opacity: .3;
    text-decoration: none;
    color: #373737;
    transition: opacity 0.75s;

    &:hover {
      opacity: 1;
    }
  }
}

.twitter {
  background-image: url('/images/twitter_logo.png');
  text-align: right;
}

.facebook {
  background-image: url('/images/facebook_logo.png');
  text-align: left;
}
