@import "base";

.title {
  font-weight: bold;
  line-height: 1.8em;
  margin-top: 20px;
}

.hero-title {
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  img {
    width: 75%;
  }
}
