@import "base";

.title {
  font-weight: bold;
}

.hero-title {
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
}

.content {
  left: 52%;
}

.content_landingpage {
  left: '52%';
  background-color: 'rgba(0,0,0,0)';
  position: 'relative';
  width: '45%';
  max-height: '80%';
}
